*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'angel';
    src: url('fonts/Calligraphy.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    background:url(img/background1.jpg) repeat;
    background-position: right center;
    overflow-y: hidden;
}

.carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 100%;
    padding: 5px;
    background: url(img/background2.jpg);
}

.ptitle {
    font-family: angel;
    font-size: 1.2em;
    text-align: center;
}

.carta > .letter {
    font-size: 1.2em;
    line-height: 25px;
    text-align: justify;
    padding: 5px;
    color: black;
}

footer {
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

